*,*::before,*::after{box-sizing:border-box}*{margin:0}html,body{height:100%}body{line-height:1.5;-webkit-font-smoothing:antialiased}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}#root,#__next{isolation:isolate}

body{
    margin:30px 100px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 20%;
    background-color: white;
    padding: 30px 100px;
}
#rule{
    position: absolute;
    top: 50px;
    right: 100px;
}
#rule_container{
    position: absolute;
    display: none;
    background-color: azure;
    padding: 2% 5%;
    top: 100px;
    right: 100px;
    left: 100px;
}
#rule_container p{
    margin-top: 2%;
}
#del{
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: azure;
}
#del:hover{
    background-color: white;
    color: rgb(0, 131, 131);
}
#container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 50px;
}
.hover{
    cursor: pointer;
}
select{
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
}
button{
    border-radius: 5%;
    text-align: center;
    padding: 10px 15px;
    background: ;
    color: ;
    transition: .2s;
    box-shadow: 3px 3px 1.5px;
    margin-left: 15px;
}
button:hover{
    box-shadow: none;
    color: ;
    background: white;
}
#answer{
    font-size: 1.5em;
    margin-left: 10px;
    line-height: 50px;
}
table{
    width: 100%;
}
tbody tr{
    height: 50px;
    text-align: center;
    font-size: 1.5em;
}
.fig{
    width: 15%;
}
table,td,th{
    border: solid;
    border-collapse: collapse;
    position: relative;
    top: 20%;
}
